.content-modal-spinner {
  border: none !important;
  background: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-spinner {
  width: 200px !important;
  height: 200px !important;
  z-index: 999;
  color: #db904a !important;
}