/* body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  font-family: 'Syne Mono', sans-serif;
}

@media (max-width: 465px) {
  html, body {
  min-width: 100% !important;
  }
}

@media (max-width: 280px) {
  html, body {
  min-width: 200% !important;
  }
}
html, body {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffce8e !important;
  opacity: 1;
  background-size: auto 100%;
  background-attachment: fixed;
}
@media (max-width: 465px) {
  html,body {
      width: 123% !important;
  }
}

body {
  width: 100%;
  padding-top: var(--bodyPaddingTop);
  text-align: center;
}
@media (max-width: 800px) {
  body {
      --bodyPaddingTop: 0px;
      padding-top: var(--bodyPaddingTop);
  }
}

.button {
  align-items: center;
  padding: 1vh;
  margin: 2vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.column {
color: #5d5d5d;
font-size: 18px;
display: flex;
align-items: center;
justify-content: flex-start;
}
@media (max-width: 465px) {
  .column {
      flex-direction: column;
      align-items: flex-start;
  }
}

.columnTitle {
  font-weight: bolder !important;
  font-size: 14px !important;
}

.densidade {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  width: 100%;
}  


.divider {
  border-bottom: 2px solid #DCDCDC;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.formDescricao {
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  color: #5d5d5d;
  min-width: 92%;
  background-color: #e9ecef;
  padding-left: 10px;

}

.formLabel{
  color: #5d5d5d;
  margin-right: 10px;
  margin-bottom: 30px;
}

.icone {
  width: 40px;
  font-size: 120%;
  color: #5d5d5d;
  cursor: pointer;
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 1.5rem;
}

.jumbotron {
  color: #7e4700 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  margin-bottom: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.jumbotron h1 {
  font-weight: bold;
}

.link {
  text-decoration: none !important;
  color: #5d5d5d !important;
  font-size: 18px !important;
}

.link:hover {
  text-decoration: none !important;
  color: #f5f5f5 !important;
}


.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1vh;
  font-weight: bold;
  font-size: 30px;
}

.modal-90w{
  padding-top: 10vh;
  width: 90%;
  max-width: none!important;
}

.paper {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 1vh;
  padding-right: 1vh;
  z-index: 999;
}


#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.root {
  width: 100%;
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.searchInput{
  border-color: 0;
  width: 400px !important;
  max-width: 100%;
  opacity: 0.6; 
  color: #424242;
  font-size: 25px !important;
  border-right-color: #cce3d9;
}
  .searchInput:focus{
  border: 1px solid #cce3d9;
  text-decoration: none;
  box-shadow: none;
  opacity: 0.8;
  }

  .searchInput:hover{
  opacity: 0.8;
  }

@media (max-width: 530px) {
  .searchInput {
      width: 250px !important;
  }
}
@media (max-width: 360px) {
  .searchInput {
      width: 200px !important;
  }
}
@media (max-width: 305px) {
  .searchInput {
      width: 150px !important;
  }
}

.searchInputItens{
  border-color: 0;
  width: 200px !important;
  max-width: 100%;
  opacity: 0.6; 
  color: #424242;
  font-size: 12px !important;
  border-right-color: #cce3d9;
  height: auto !important;
}
  .searchInputItens:focus{
  border: 1px solid #cce3d9;
  text-decoration: none;
  box-shadow: none;
  opacity: 0.8;
  }

  .searchInputItens:hover{
  opacity: 0.8;
  }

@media (max-width: 530px) {
  .searchInputItens {
      width: 250px !important;
  }
}
@media (max-width: 360px) {
  .searchInputItens {
      width: 200px !important;
  }
}
@media (max-width: 305px) {
  .searchInputItens {
      width: 150px !important;
  }
}

.subtitulo {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
}

.tableColapse {
  min-width: 100%;
}

.TipoContainer{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #5d5d5d;
  border-radius: 5px;
  border-left: 1px solid #5d5d5d5d;
  border-right: 1px solid #5d5d5d5d;
  border-top: 1px solid #5d5d5d5d;
  margin: 0 2px 0 2px;
  background-color: #f5f5f5;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
  border-bottom: 4px solid #a9afb58a;
  
}

.TipoContainer:hover {
border-bottom: 4px solid var(--primary) !important;
};

.title {
  display: flex;
  justify-content: center;
  padding-left: 1vh;
  font-weight: bold;
  padding-top: 20px;
  font-size: 30px;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}

:root {
  --primary: #0199b6 !important;
  --blue: #00abcc !important;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #2b2b2b;
  --grayDark: #141414;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --titulo: #212529;
  --red: #ff0000;
}

/* Esconder barra de rolagem */
/*::-webkit-scrollbar  { width: 10px; }*/
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:#aa6625;;
}


